* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.add-title h2 {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
}

.addpursaches {
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.add-title h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}

input,
select,
textarea,
button {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

.inline-group {
  display: flex;
  gap: 10px;
}

.inline-group .form-group {
  flex: 1;
}

button {
  background-color: #357a86;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #285d66;
}

#btn-submit {
  color: wheat;
}
