* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.grafico-container {
  width: 100%;
  height: 400px; /* Ajuste a altura conforme necessário */
  margin-top: 20px;
}

.painel-principal {
  width: 80%;
  padding: 1rem 0;
}

.painel-title h2 {
  padding: 0.4rem;
  font-size: 2rem;
  font-weight: 600;
}

.painel-cards {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 13rem;
  padding: 1.9rem 1rem;
}

.painel-conjunto-cards {
  display: flex;
  gap: 5rem;
}

.painel-secundary {
  padding: 3rem;
  width: 80%;
}

.title-painel-secundary h3 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.4rem;
}

#title-card {
  font-size: 1rem;
}

#price-card {
  font-weight: 600;
  font-size: 1.5rem;
}

.painel-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listslice {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
